.wrapper{
    text-decoration: brown;
}

.search-input{
    width: 100px;
    margin-right: 10px; 
    padding: 5px 0;
    padding-left: 10px; 
    border:rgb(204, 201, 53) solid 1px; 
    border-radius: 20px;
    outline: none;
}

.search-input:focus{
    width: 200px;
    outline: none;
}

.wrapper-body{
    min-width: 900px;
    max-width: 900px;
}

.feedback-input{
    width: 320px;
    height: 150px;
    resize: none; 
    border: rgb(201, 201, 38) solid 1px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
