<div class="outer">
  <div class="userinfo">
      <br>
          <div style= "float:left; padding-right:3%">
              <div *ngIf="haveAvatar;else other_img">
                    <img [src]="imageData" style=" width:240px;">
              </div>
              <ng-template #other_img>
                    <img src="assets/images/default_avatar.svg" style= "width:240px">
              </ng-template>   
          </div>
          <div>
              <div style="padding: 10px;">
                    <h2 style="display: inline;">{{user.login}}</h2> 
                    <p-button (click)="showProfileSettings()" icon="fas fa-cog" style="float:right"></p-button>
              </div>
              <br>
              <h4 class="bio">{{ 'About' | translate }}: {{user.bio}}</h4>
          </div>
  </div>
  
  <form #postForm="ngForm">
    <div class="ui-g ui-fluid" >
        <div style="padding: 10px;" class="ui-g-12">
              <input [(ngModel)]="newPost.message" class="post-message" name="text" type="text" pInputText placeholder="Say something..." autocomplete="off" style="width: 35%;">
          <p-button (click)="onSay()" icon="fa fa-comment" style="width:70px;"></p-button>
          <p-button label="{{ 'Subscribe' | translate }}" class="sub"></p-button>
        </div>
    </div>
  </form>
  <p-dataView [value]="posts.reverse()">
      <ng-template let-post pTemplate="listItem">
          <div class="ui-g" style="padding: 0 10px; border-bottom: 1px solid #d9d9d9">
              <div class="ui-g-12 ui-md-12 post-container">
                  <div class="ui-g-12">
                        <p style="margin:0px;">
                            <button pButton style="float: right;" icon="fas fa-edit" (click)="changePost(post.id)"></button>
                        </p> 
                        <div *ngIf="!post.is_changing; else editing">
                            <p><textarea class="post-text" readonly style="color: black">{{post.message}}</textarea></p>
                        </div>
                        <ng-template #editing>
                            <p><textarea class="post-text" [(ngModel)]="editedPostMessage" style="color: purple">{{editedPostMessage}}</textarea></p>
                        </ng-template>
                        <div>
                            <p style="color: black;">{{post.post_date | date: 'dd/MM/yyyy HH:mm'}}</p>
                            <div *ngIf="post.is_changing">
                                <button pButton style="width: 150px; float: right;" icon="fas fa-times" (click)="cancelEditPost();"></button>
                                <button pButton style="width: 150px; float: right; margin-right: 10px;" icon="fas fa-check" (click)="submitEditPost();"></button>
                            </div>
                        </div> 
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>
</div>

<p-dialog header="Profile settings" [(visible)]="displayProfileSettings" [width]="600" [draggable]="false" 
[dismissableMask]="true" [modal]="true" [responsive]="true" [resizable]="false" (onHide)="closePasswordChange();">
    <p-tabView orientation="left">
        <p-tabPanel header="Avatar">
            <p>Set new avatar:</p>
            <p-fileUpload #form name="myfile[]" customUpload="true" accept="image/*" maxFileSize="1000000"
            (uploadHandler)="myUploader($event, form)" showUploadButton="false" mode="advanced" uploadLabel="Save"></p-fileUpload>
        </p-tabPanel>
        <p-tabPanel header="Bio">
            <p>Change info about yourself:</p>
            <p><textarea pInputTextarea  [(ngModel)]="newBio" rows="4" maxlength="256" class="post-text" style="color: black; background: white; padding: 0.2em"></textarea></p>
            <p-button label="Save" class="sub" (click)="saveNewBio()" style="display: block;"></p-button>
        </p-tabPanel>
        <p-tabPanel header="Password">
            <p class="p-password">Enter old password:</p>
                <input [(ngModel)]="checkPassword" class="check-password" type="password" pInputText placeholder="old password" autocomplete="off" [disabled]="passwordCheckBtnIsDisabled">
                <p-button label="Check" class="sub" (click)="checkOldPassword(); disabled = true;" style="display: block; margin-top: 1em; margin-bottom: 1em;" *ngIf="!passwordCheckBtnIsDisabled;"></p-button>
                <p class="p-password">New password:</p>
                <input [(ngModel)]="newPassword" class="check-password" type="password" pInputText placeholder="new password" autocomplete="off" [disabled]="newPasswordCheckBtnIsDisabled">
                <p class="p-password">Confirm new password:</p>
                <input [(ngModel)]="newPasswordCheck" class="check-password" type="password" pInputText placeholder="repeat new password" autocomplete="off" [disabled]="newPasswordCheckBtnIsDisabled">
                <p-button label="Submit" class="sub" (click)="checkNewPasswordAndSendCode()" style="display: block; margin-top: 1em; margin-bottom: 1em;" *ngIf="!newPasswordCheckBtnIsDisabled;"></p-button>
            <div *ngIf="!codeCheckBtbIsDisabled;">
                <p class="p-password">Enter code:</p>
                <input [(ngModel)]="code" class="check-password" type="text" pInputText placeholder="code" autocomplete="off" [disabled]="codeCheckBtbIsDisabled">
                <p-button label="Check code" class="sub" (click)="checkCode()" style="display: block; margin-top: 1em; margin-bottom: 1em;" *ngIf="!codeCheckBtbIsDisabled;"></p-button>
            </div>
            <div class="isa_error" [hidden]=isErrorHidden>
                <i class="fa fa-times-circle"></i>
                {{errorMessage}}
            </div>
            <div class="isa_message" [hidden]=isMessageHidden>
                <i class="fas fa-info-circle"></i>
                {{message}}
            </div>
        </p-tabPanel>
        <p-tabPanel header="Email">
            Content 3
        </p-tabPanel>
        <p-tabPanel header="Common">
            Content 3
        </p-tabPanel>
    </p-tabView>
    <br>
</p-dialog>