<app-base-userpage>
    <div userinfo>
        <div class="userinfo">
           
            <br>
            <div style="float:left; padding-right:3%">
                <div *ngIf="user.avatar!=null; else other_img">
                    <img [src]="imageData" class="img">
                </div>
                <ng-template #other_img>
                    <img src="assets/images/default_avatar.svg" class="img">
                </ng-template>
            </div>
            <div style="padding: 15px;">
                <br>
                <h2 style="display: inline;">{{user.login}}</h2>
                <h4 class="bio">{{ 'About' | translate }}: {{user.bio}}</h4>
            </div>
        </div>
    </div>
    <div subscribe>
        <div *ngIf="isSubscribed;else noSub">
            <p-button label="{{ 'Unsubscribe' | translate }}" class="sub" (click)="unsubscribeFromUser(user.id)" style="float:right;"></p-button>
        </div>
        <ng-template #noSub>
            <p-button label="{{ 'Subscribe' | translate }}" class="sub" (click)="subscribeOnUser(user.id)" style="float:right;"></p-button>
        </ng-template>

    </div>
    <div post>
            <div *ngIf="isNotInBlacklist;else inBlakList">
        <p-dataView [value]="posts">
            <ng-template let-post pTemplate="listItem">
                <div class="ui-g" style="padding: 0 10px; border-bottom: 1px solid #d9d9d9">
                    <div class="ui-g-12 ui-md-12 post-container">
                        <div class="ui-g-12">
                            <p>{{post.message}}</p>
                            <p >{{post.post_date | date: 'dd/MM/yyyy HH:mm'}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>

        </div>
        <ng-template #inBlakList>
                <div class="isa-error">
                        <i class="fa fa-times-circle"></i>
                        Sorry, you are in blacklist
                    </div>
            </ng-template>
    </div>
</app-base-userpage>