<app-base-userpage>
  <div subscribe>
      <p-button label="{{ 'Subscribe' | translate }}" class="sub" style="float:right;"></p-button>
  </div>
    <div post>
        <p-dataView [value]="posts.reverse()">
            <ng-template let-post pTemplate="listItem">
                <div class="ui-g" style="padding: 0 10px; border-bottom: 1px solid #d9d9d9">
                    <div class="ui-g-12 ui-md-12 post-container">
                        <div class="ui-g-12">
                            <p><textarea class="post-text" readonly style="color: black">{{post.message}}</textarea></p>
                            <p style="color: black;">{{post.post_date | date: 'dd/MM/yyyy HH:mm'}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</app-base-userpage>