p{
    color: #cccccc;
    margin-top: 0;
}

br{
    background: #cccccc;
    height: 5px;
}


.ui-button-text-icon-left .ui-button-text {
    padding: .25em 1em .25em 1em;
}


.post-text{
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    box-sizing:border-box;
    outline: none; 
}

.bio{
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
}

.userinfo{
    display: block;
    height: 220px;
}

.post-username{
    outline: none; 
    border-radius: 40px; 
    margin: 0 20px; 
    margin-left: -10px;
}

.post-message{
    outline: none;
    border-radius: 40px;
    margin-right: 20px;
    border: none;
}

.img{
    width: 240px;
}

.in-black-list-text{
    text-align: center;
    color: black;
    font-size: 40px;
   
}

.isa-error {
    padding:10px;
    color: rgb(255, 251, 252);
    background-color: rgb(240, 0, 0);
    border-radius: 20px;
    margin:10px 22px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1em;
    vertical-align:middle;
    text-align: center;
}