USE [master]
GO
/****** Object:  Database [SaymeDB]    Script Date: 17.07.2018 18:11:45 ******/
CREATE DATABASE [SaymeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaymeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SaymeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaymeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SaymeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaymeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaymeDB]
GO
USE [SaymeDB]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] NOT NULL,
	[text] [nvarchar](256) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_post] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Following]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Following](
	[id_who] [int] NOT NULL,
	[id_whom] [int] NOT NULL,
 CONSTRAINT [PK_Following] PRIMARY KEY CLUSTERED 
(
	[id_who] ASC,
	[id_whom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeComment]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeComment](
	[id_user] [int] NOT NULL,
	[id_comment] [int] NOT NULL,
	[liked] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikePost]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikePost](
	[id_user] [int] NOT NULL,
	[id_post] [int] NOT NULL,
	[liked] [bit] NOT NULL,
 CONSTRAINT [PK_LikePost] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] NOT NULL,
	[text] [nvarchar](256) NOT NULL,
	[id_user] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchComment]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchComment](
	[id_comment] [int] NOT NULL,
	[likes] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchPost]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchPost](
	[id_post] [int] NOT NULL,
	[likes] [int] NOT NULL,
 CONSTRAINT [PK_SearchPost] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchTag]    Script Date: 17.07.2018 18:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchTag](
	[id_tag] [int] NOT NULL,
	[counter] [int] NOT NULL,
 CONSTRAINT [PK_SearchTag] PRIMARY KEY CLUSTERED 
(
	[id_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 17.07.2018 18:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[id] [int] NOT NULL,
	[name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagPost]    Script Date: 17.07.2018 18:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagPost](
	[id_post] [int] NOT NULL,
	[id_tag] [int] NOT NULL,
 CONSTRAINT [PK_TagPost] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC,
	[id_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17.07.2018 18:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[login] [nvarchar](16) NOT NULL,
	[password] [nvarchar](16) NOT NULL,
	[bio] [nvarchar](256) NOT NULL,
	[mail] [nvarchar](40) NOT NULL,
	[active] [bit] NOT NULL,
	[avatar] [image] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([id_post])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_Following_UserWho] FOREIGN KEY([id_who])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_Following_UserWho]
GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_Following_UserWhom] FOREIGN KEY([id_whom])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_Following_UserWhom]
GO
ALTER TABLE [dbo].[LikeComment]  WITH CHECK ADD  CONSTRAINT [FK_LikeComment_Comment] FOREIGN KEY([id_comment])
REFERENCES [dbo].[Comment] ([id])
GO
ALTER TABLE [dbo].[LikeComment] CHECK CONSTRAINT [FK_LikeComment_Comment]
GO
ALTER TABLE [dbo].[LikeComment]  WITH CHECK ADD  CONSTRAINT [FK_LikeComment_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[LikeComment] CHECK CONSTRAINT [FK_LikeComment_User]
GO
ALTER TABLE [dbo].[LikePost]  WITH CHECK ADD  CONSTRAINT [FK_LikePost_Post] FOREIGN KEY([id_post])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[LikePost] CHECK CONSTRAINT [FK_LikePost_Post]
GO
ALTER TABLE [dbo].[LikePost]  WITH CHECK ADD  CONSTRAINT [FK_LikePost_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[LikePost] CHECK CONSTRAINT [FK_LikePost_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User]
GO
ALTER TABLE [dbo].[SearchComment]  WITH CHECK ADD  CONSTRAINT [FK_SearchComment_Comment] FOREIGN KEY([id_comment])
REFERENCES [dbo].[Comment] ([id])
GO
ALTER TABLE [dbo].[SearchComment] CHECK CONSTRAINT [FK_SearchComment_Comment]
GO
ALTER TABLE [dbo].[SearchPost]  WITH CHECK ADD  CONSTRAINT [FK_SearchPost_Post] FOREIGN KEY([id_post])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[SearchPost] CHECK CONSTRAINT [FK_SearchPost_Post]
GO
ALTER TABLE [dbo].[SearchTag]  WITH CHECK ADD  CONSTRAINT [FK_SearchTag_Tag] FOREIGN KEY([id_tag])
REFERENCES [dbo].[Tag] ([id])
GO
ALTER TABLE [dbo].[SearchTag] CHECK CONSTRAINT [FK_SearchTag_Tag]
GO
ALTER TABLE [dbo].[TagPost]  WITH CHECK ADD  CONSTRAINT [FK_TagPost_Post] FOREIGN KEY([id_post])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[TagPost] CHECK CONSTRAINT [FK_TagPost_Post]
GO
ALTER TABLE [dbo].[TagPost]  WITH CHECK ADD  CONSTRAINT [FK_TagPost_Tag] FOREIGN KEY([id_tag])
REFERENCES [dbo].[Tag] ([id])
GO
ALTER TABLE [dbo].[TagPost] CHECK CONSTRAINT [FK_TagPost_Tag]
GO
USE [master]
GO
