<div>
  <div class="registration-from-content">
     <div id = "signin">
        <p>Sign in</p>
     </div>
     <div id = "border">
        <form action="" method="post">
           <div id = "body">
           <p>login</p>
           <input type="email" name="" placeholder="email" required>
           <p>Password</p>
           <input type="password" name="" placeholder="password" required>
           <input type="submit" value="Sign in">
           <input type="checkbox" name="" value="Remember me">Remember me
           <input type="button" value="Sign up" routerLink ="registration">
           <a routerLink="">Forgot your password?</a>
           </div>

        </form>
     </div>
  </div>
</div>