<div class="wrapper-body">



<img src="assets/images/Logo-Sayme.svg" style= "width:280px">


<div class="sticky">
    <p-menubar [model]="items" >
        <input type="search" class="search-input" style="font-size: 15px; background: rgb(255, 241, 181);" pInputText placeholder="{{ 'Search...' | translate }}" >
        <button type="button" (click)="showDialog()" pButton icon="fa fa-bug"></button>
        <button type="button" (click)="signOut()" style="margin-left: 12px" pButton icon="fas fa-sign-out-alt"></button>
    </p-menubar>
</div>


<!-- Feedback modal form -->
<p-dialog header="{{ 'Feedback' | translate }}" 
        [(visible)]="isFeedbackFormVisible" 
        [resizable]='false' 
        [closeOnEscape]='true' 
        [dismissableMask]='true' 
        [draggable]='false' 
        [modal]="true"            
        [width]="350" 
        [minWidth]="350" 
        [maximizable]="true">
    <p style="margin: 0 0 17px 0;">{{ 'Left your answer or comment here:' | translate }}</p>
    <form #postForm="ngForm" style="margin: 0;">
        <textarea required [(ngModel)]="feedbackText" style="overflow:hidden;" class="feedback-text" name="feedbackText" placeholder="{{ 'your comment' | translate }}"></textarea>
        <div style="float: right; margin-top: 5px;">
            <button type="button" class="feedback-send-button" (click)="onSendFeedback()">{{ 'Send' | translate }}</button>
            <button type="button" class="feedback-cancel-button" (click)="onCancelFeedBack()">{{ 'Cancel' | translate }}</button>
        </div>
    </form>
</p-dialog>

<!-- Successfuly sent feedback modal form -->
<p-dialog header="{{ 'Success!' | translate }}" 
        [(visible)]="isSuccessFormVisible" 
        [modal]="true" 
        [resizable]='false' 
        [responsive]="true" 
        [closeOnEscape]='true' 
        [dismissableMask]='true' 
        [draggable]='false' 
        [width]="350" 
        [minWidth]="200" 
        [minY]="70"
        [maximizable]="true" 
        [baseZIndex]="10000">
    <p>{{ 'Report was successfuly sent!' | translate }}</p>
    <div style="float: right;">
        <button type="button" pButton (click)="isSuccessFormVisible=false" label="OK" class="ui-button-info"></button>
    </div>
</p-dialog>

<!-- Left slide sidebar -->
<p-sidebar [(visible)]="opened" id="sidebar" [baseZIndex]="10000" (onHide)="open();" >
    <h1>
        <a routerLink=" " ngModel style="color: #cccccc;">{{ user.login }}</a>
    </h1>
    <h5>
        <a routerLink=" " style="color: #cccccc;">{{ 'Followers' | translate}}:</a>
    </h5>
    <h5>
        <a routerLink=" " style="color: #cccccc;">{{ 'Following' | translate}}:</a>
    </h5>
    <button pButton type="button" class="ui-button-warning" style="width: 200px; height: 30px; margin: 10px 0px;">{{ 'Settings' | translate }}</button>
    <br>
    <button pButton type="button" class="ui-button-danger" style="width: 200px; height: 30px;">{{ 'Log out' | translate }}</button>
    <br>
    <br>
    <select id="changeLang" (change)="setLang($event.target.value);">
        <option value="en">english</option>
        <option value="ua">українська</option>
        <option value="ru">русский</option>
    </select>
</p-sidebar>
<router-outlet></router-outlet>
</div>