p{
    color: #cccccc;
}

a{
    text-decoration: none;
}

.search-input{
    width: 100px;
    margin-right: 10px; 
    padding: 5px 0;
    padding-left: 10px; 
    border:rgb(0, 0, 0) solid 1px; 
    border-radius: 20px;
    outline: none;
    transition: 300ms;
}

.search-input:focus{
    width: 200px;
    outline: none;
}

.wrapper-body{
    min-width: 900px;
    max-width: 900px;
}

.feedback-text{
    font-size: 16px;
    width: 100%;
    height: 150px;
    resize: none; 
    border: rgb(201, 201, 38) solid 1px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.feedback-email{
    font-size: 16px;
    margin-bottom: 15px;
    border: rgb(201, 201, 38) solid 1px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 100%;
}

.feedback-email:focus, .feedback-text:focus{
    box-shadow: inset 0 0 8px gold;
}

.btn{
    padding:2%;
    vertical-align:middle; 
    width: 120px;height: 40px; 
    border-radius: 30px;
    margin-top: 5%;
}

div.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1000;
}