
a{
    text-decoration: none;
}

.search-input{
    width: 100px;
    margin-right: 10px; 
    padding: 5px 0;
    padding-left: 10px; 
    border:rgb(204, 201, 53) solid 1px; 
    border-radius: 20px;
    outline: none;
}

.search-input:focus{
    width: 200px;
    outline: none;
}

.wrapper-body{
    min-width: 900px;
    max-width: 900px;
}

.feedback-text{
    font-size: 12px;
    width: 320px;
    height: 150px;
    resize: none; 
    border: rgb(201, 201, 38) solid 1px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.feedback-email{
    font-size: 12px;
    margin-bottom: 15px;
    border: rgb(201, 201, 38) solid 1px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 320px;
}

.feedback-email:focus, .feedback-text:focus{
    box-shadow: inset 0 0 8px gold;
}

.feedback-send-button{
    border-radius: 5px;
    background: gold;
    margin-right: 10px; 
    height: 30px;
    border: 1px solid gold;
}

.feedback-send-button:hover{
    background: rgb(192, 164, 6);
}

.feedback-cancel-button{
    border-radius: 5px;
    background: #eeeeee;
    height: 30px;
    border: 1px solid #eeeeee;
}

.feedback-cancel-button:hover{
    background: #555555;
}
