<div class="wrapper-body">
    <img src="assets/images/Logo-Sayme.svg" style= "width:280px">
<p-menubar [model]="items" styleClass="menu">
    <input type="search" class="search-input" style="font-size: 15px; background: rgb(255, 236, 153);" pInputText placeholder="Search..." >
    <button type="button" (click)="showDialog()" pButton icon="fa fa-bug"></button>
</p-menubar>
<!-- Feedback modal form -->
<p-dialog header="Feedback" [(visible)]="isFeedbackFormVisible" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <p>Left your answer or comment here:</p>
    <form #postForm="ngForm">
        <input pInputText required [(ngModel)]="useremail" name="useremail" type="email" class="feedback-email" placeholder="your email" autocomplete="off">
        <textarea required [(ngModel)]="feedbackText" class="feedback-text" name="feedbackText" placeholder="your comment"></textarea>
        <div style="float: right; margin-top: 5px;">
            <button type="button" style="margin-right: 10px;" pButton (click)="onSendFeedback()" label="Send" class="ui-button-info"></button>
            <button type="button" pButton (click)="onCancelFeedBack()" label="Cancel"></button>
        </div>
    </form>
</p-dialog>

<!-- Successfuly sent feedback modal form -->
<p-dialog header="Success!" [(visible)]="isSuccessFormVisible" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <p>Report was successfuly sent!</p>
    <div style="float: right;">
        <button type="button" pButton (click)="isSuccessFormVisible=false" label="OK" class="ui-button-info"></button>
    </div>
</p-dialog>

<!-- Left slide sidebar -->
<p-sidebar [(visible)]="opened" id="sidebar" [baseZIndex]="10000" (onHide)="open()" >
    <h1>
        <a routerLink=" " style="color: #cccccc;">Username</a>
    </h1>
    <h5>
        <a routerLink=" " style="color: #cccccc;">followers: num</a>
    </h5>
    <h5>
        <a routerLink=" " style="color: #cccccc;">following: num</a>
    </h5>
    <button pButton type="button" label="Settings" class="ui-button-warning" style="width: 200px; margin: 10px 0px;"></button>
    <br>
    <button pButton type="button" label="Log out" class="ui-button-danger" style="width: 200px;"></button>
</p-sidebar>
<router-outlet></router-outlet>
</div>