<div>
   <div class="registration-from-content">
      <div>
         <p>Registration</p>
      </div>
      <div>
         <form action="" method="post">
            <div>
            <p>Email</p>
            <input type="email" name="" id="">
            <p>Nickname</p>
            <input type="text" name="" id="">
            <p>Password</p>
            <input type="password" name="" id="">
            <p>Repeat password</p>
            <input type="password" name="" id="">
            <input type="submit" value="Sign up">
            <input type="checkbox" name="" id="" value="I agree to the terms of the license agreement and privacy statement">I agree to the terms of the license agreement and privacy statement
            </div>
         </form>
      </div>
   </div>
</div>