<app-navigation-tools></app-navigation-tools>
<div class="inner">
    <div class="container">
        <form #postForm="ngForm">
            <div class="ui-g ui-fluid">
                <div style="padding: 10px;" class="ui-g-12">
                    <input [(ngModel)]="newPost.message" class="post-message" name="text" type="text" pInputText
                        placeholder="{{ 'Say something...' | translate}}" autocomplete="off">
                    <button style=" width: 70px; border-radius: 50px;" pButton (click)="onSay()" icon="fa fa-comment"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-dataView [value]="postAndImage.reverse()">
    <ng-template let-post pTemplate="listItem">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 post-container" style="padding: 0 10px; border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12">
                    <div *ngIf="post.avatar;else other_img" style="float:left; padding-right:1%; cursor:pointer;"
                        (click)="gotoUserpage(post.post.id_user)">
                        <img id="image" [src]="post.avatar" style=" width:25px;">
                    </div>
                    <ng-template #other_img>
                        <div style="float:left; padding-right: 1%; cursor:pointer;" (click)="gotoUserpage(post.post.id_user)">
                            <img src="assets/images/default_avatar.svg" style="width:25px;">
                        </div>
                    </ng-template>
                    <div style="margin-top: 4px; cursor:pointer;" (click)="gotoUserpage(post.post.id_user)">
                        <b>{{post.post.username}}</b>:
                    </div>
                    <p>
                        {{post.post.message}}
                    </p>
                    <div class="bottom-post">
                        <p>{{post.post.post_date | date: 'dd/MM/yyyy HH:mm'}}</p>
                        <div class="action action-like">
                            <button class="btn-action" (click)="likePost(post.post)">
                                <div *ngIf="post.post.isLiked; else not_liked">
                                    <img src="/assets/images/like-red.png" class="icon icon-like img-responsive">
                                </div>
                                <ng-template #not_liked>
                                    <div>
                                        <img src="/assets/images/like.png" class="icon icon-like img-responsive">
                                    </div>
                                </ng-template>
                            </button>
                            <span class="count">{{post.post.numOfLikes}}</span>
                        </div>
                    </div>
                    <span class="show-modal" (click)="openCommentsModal(post)">Show comments...</span>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<div *ngIf="!noMoreNewPosts;else allloaded">
    <p style="display: flex; justify-content: center; font-size: 2em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Loading...</p>
</div>
<ng-template #allloaded>
    <p style="display: flex; justify-content: center; font-size: 2em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">No
        more posts left :(</p>
</ng-template>
<!-- <button (click)="loadPosts(lastPostID)">New posts!</button> -->