input{
    padding: 5px;
    border-radius: 5px; 
    border: powderblue solid 1px;
    width: 35%;
}

.post-text{
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
}

.post-username{
    outline: none; 
    border-radius: 40px; 
    margin: 0 20px; 
    margin-left: -10px;
}

.post-message{
    outline: none;
    border-radius: 40px;
    margin-right: 20px;
    background:  rgb(255, 236, 153);
    border: none;
}

.bottom-post{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.action-like{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.btn-action {
    background-color: transparent;
    border: none;
}

.post-container .show-modal{
   cursor: pointer;
   display: block;
   outline: none;
}
