p{
    color: #cccccc;
    margin-top: 0;
}

br{
    background: #cccccc;
    height: 5px;
}

hr{
    color: #cccccc;
    background: #cccccc;
    height: 1px;
    display: block;
}


.ui-button-text-icon-left .ui-button-text {
    padding: .25em 1em .25em 1em;
}

input{
    padding: 5px;
    border-radius: 5px; 
    border: powderblue solid 1px;
}

.post-text{
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    box-sizing:border-box;
    outline: none; 
}

.bio{
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
}

.userinfo{
    display: block;
    height: 220px;
}

.sub{
    float: right
}

.post-username{
    outline: none; 
    border-radius: 40px; 
    margin: 0 20px; 
    margin-left: -10px;
}

.post-message{
    outline: none;
    border-radius: 40px;
    margin-right: 20px;
    border: none;
}

.check{
    outline: none;
    border-radius: 40px;
    margin-right: 20px;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.p-password{
    margin: 0;
}

.isa_error {
    padding:10px;
    color: rgb(255, 251, 252);
    background-color: rgb(240, 0, 0);
    border-radius: 20px;
    margin:10px 22px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1em;
    vertical-align:middle;
    text-align: center;
}

.isa_message {
    padding:10px;
    color: rgb(255, 251, 252);
    background-color: rgba(0, 96, 240, 0.856);
    border-radius: 20px;
    margin:10px 22px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1em;
    vertical-align:middle;
    text-align: center;
}