<div class="outer" >
  <div class="logo">
      <img src="assets/images/Logo-Sayme.svg" style= "width:280px; display: block; margin-left: auto; margin-right: auto">
  </div>
<div class="inner">
    
  <h1 class="labelSignup" style="padding: 10px; text-align: center">Registration</h1>
  <div class="container_with_borders" >
    <div class="ui-inputgroup" style="padding-left: 17%; padding-right: 17%;padding-top: 5%;padding-bottom: 5%">
          <label for="inputLogin"  style="  font-family: 'Lucida Sans';">Username</label>
          <input [(ngModel)]="newUser.login" id="inputLogin"  type="text" size="30" pInputText> 
          <br>
          <label for="inputMail" style="  font-family: 'Lucida Sans'; " >Email</label> <br>
          <input id="inputMail" style="margin: 0;" [(ngModel)]="newUser.mail" type="text" size="30"  pPassword> 
          <br>
          <label for="inputPassword" style="  font-family: 'Lucida Sans';" >Password</label>
          <input id="inputPassword"  [(ngModel)]="newUser.password" type="password" size="30"  pPassword>
          <br>
          <label for="inputRepPass" style="  font-family: 'Lucida Sans';" >Repeat password</label>
          <input id="inputRepPass"  [(ngModel)]="RepPassword" type="password" size="30"  pPassword>
          
        </div>

       
  
<div class="buttonCBContainer">
    <button pButton type="button" class="ui-button-warning" pButton (click)="onRegister()" [disabled]="!isChecked" style="width: 30%;height: 25px; padding-left: 10px; padding-right: 10px; margin: 0">Sign up</button><br>
    <br>
  <input type="checkbox"[(ngModel)]="isChecked" class="checkbox" id="checkbox" style="padding: 50px;" />
<label for="checkbox" style="  font-family: 'Lucida Sans'; ">I agree to the terms</label>
</div>
  
  
  </div>
</div>
</div>
