<div class="outer" >
  <div class="logo">
      <img src="assets/images/Logo-Sayme.svg" style= "width:280px; display: block; margin-left: 55%;">
  </div>
<div class="inner">
    
  <h1 class="labelSignup" style="padding: 10px; text-align: center" style="margin-left: 70%; font-family:Roboto, sans-serif;">Registration</h1>
  <br>
  <div class="container_with_borders" style="margin-left: 42%;">
    <div class="ui-inputgroup" style="left: 15px;">
      <input  class="post-username" name="username" type="text" pInputText placeholder="Username" autocomplete="off">
          <br><br>
          <input  class="post-email" name="email" type="text" pInputText placeholder="Email" autocomplete="off">
          <br><br>
          <input  class="post-pass" name="pass" type="text" pInputText placeholder="Password" autocomplete="off">
          <br><br>
          <input  class="post-reppas" name="reppass" type="text" pInputText placeholder="Repeat password" autocomplete="off">
          <br><br>

          <button pButton type="button" class="button1" style="margin-top: 5%; margin-left: 10%;margin-right: 5%;margin-bottom: 15%; display: block; left: 10% ">Sign up</button>
        </div>

      
  
  
  </div>
</div>
</div>
