body{
  display: flex;
  justify-content: center;
}

.labelSignup{
    font-family: fantasy
}
.outer{
    display: block;
}
.inner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
}

.container_with_borders{
    border: 3 px;
    border-color: rgb(252, 249, 111);
    border-style: solid;  
    border-radius: 20px;    
    width: 100% ;
    height:25%;
    margin-right: 30%;
    display: flex;
    justify-content: center;

}

.ui-inputgroup{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}


  .buttonCBContainer{
    display: block;
    left: 50%
  }