input{
    padding: 5px;
    border-radius: 5px; 
    border: powderblue solid 1px;
}

.post-text{
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
}
