<div>
   <div>
      <ul>
         <li class="let post of posts">
            <div>
               <img src="user_N_avatar" alt="avatar">
               <p>post.user.name</p>
               <p>@post.user.nickname</p>
            </div>
            
            <div>
               <p>post.text</p>
            </div>

            <div>
               <p>post.replies</p>
               <p>post.replies.length</p>
               <button>post.like</button>
               <p>post.likes</p>
            </div>
         </li>
      </ul>
   </div>
</div>