input{
    padding: 5px;
    border-radius: 5px; 
    border: powderblue solid 1px;
}

.post-text{
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
}

.post-username{
    outline: none; 
    border-radius: 40px; 
    margin: 0 20px; 
    margin-left: -10px;
}

.post-message{
    outline: none;
    border-radius: 40px;
    margin-right: 20px;
    background:  rgb(255, 236, 153);
    border: none;
}