<div class="outer">
    <div class="inner">
        <div class="container">
            <form #postForm="ngForm" (keydown.enter)="onSay()">
                <div class="ui-g ui-fluid" >
                    <div style="padding: 10px;" class="ui-g-12">
                        <input [(ngModel)]="newPost.username" class="post-username" name="username" type="text" pInputText placeholder="Username" autocomplete="off">
                        <input [(ngModel)]="newPost.message" class="post-message" name="text" type="text" pInputText placeholder="Say something..." autocomplete="off">
                        <button style=" width: 70px; border-radius: 50px;" pButton (click)="onSay()" icon="fa fa-comment"></button>
                        <h1>username: {{newPost.username | json}}</h1>
                        <h1>message: {{newPost.message | json}}</h1>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p-dataView [value]="posts.reverse()">
        <ng-template let-post pTemplate="listItem">
            <div class="ui-g" style="padding: 0 10px; border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12 ui-md-12 post-container">
                    <div class="ui-g-12">
                        <p><b>{{post.username}}</b>:</p> 
                        <p><textarea class="post-text" readonly>{{post.message}}</textarea></p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>